body{
    font-family: Arial,sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}
nav{
    background-color: black;
    padding: 10px;
}
nav a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
.container{
    margin: 50px auto;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    box-shadow: rgba(red, green, blue, alpha);
    display: flex;
    justify-content: space-evenly;
}